@import "_variables.scss";

* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: "Rubik", sans-serif;
    color: $mainColor;
    line-height: 1.88rem;
    font-size: 16px;
    font-weight: 400;
}

button {
    background-color: transparent;
}

.header,
.main-section {
    margin: 3vw 8vw 0 8vw;
}

.list {
    list-style-type: none;
}

h1 {
    font-size: 3.13rem;
    font-weight: 500;
    line-height: 4.38rem;
}

h2 {
    font-size: 2.19rem;
    font-weight: 500;
    line-height: 3.13rem;
}

h3 {
    font-size: 1.13rem;
    font-weight: 500;
    color: $titleColor;

}

a {
    text-decoration: none;
}

span {
    font-weight: 500;
}

img {
    max-width: 100%;
    height: auto;
}