@import "variables.scss";

.button-oval {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    line-height: 19px;
    border: 1px $buttonColor solid;
    background-color: $textButtonColor;
    color: $buttonColor;
    cursor: pointer;
}

.button-oval_activ {
    background-color: $buttonColor ;
    color: $textButtonColor;
    box-shadow: 0px 30px 40px 0px $shadowRedColor;
}

.button-rectangle {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: 1px $buttonColor solid;
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    line-height: 25px;
    background-color: $buttonColor;
    box-shadow: 0px 30px 40px 0px $shadowRedColor;
    color: $textButtonColor;
    cursor: pointer;
}