@import "_variables.scss";
@import "_common.scss";
@import "_button.scss";

.header {
    display: flex;
    justify-content: space-between;

    &__list {
        width: 28.19rem;
        display: flex;
        justify-content: space-between;
        margin-top: 8.62px;
        font-weight: 400;

        & a {
            color: $mainColor;

            &:hover {
                color: $buttonColor;
            }
        }
    }

    &__login-link {
        margin-right: 2.5rem;
        color: $titleColor;
        font-weight: 500;

        &:hover {
            color: $buttonColor;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: $titleColor;

    &__image {
        margin-right: 10px;
    }
}

.span {
    font-weight: 700;
}

.description-span {
    font-weight: 500;
}

.main-section {
    margin-top: 5.56rem;

    &__title {
        color: $titleColor;
    }

    &__description {
        font-weight: 400;
        line-height: 1.88rem;
    }

    &__button {
        margin-top: 1.88rem;
    }

    &__image {
        margin-left: 2.5rem;
    }
}

.main-section-row {
    display: flex;

    &__block {
        display: flex;
        flex-direction: column;
        width: 34.69rem;
        gap: 1.25rem;
        margin-top: 1.69rem;
    }
}

.main-section-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $titleColor;
        margin: 0 5.38rem;
        text-align: center;
    }

    &__description {
        text-align: center;
        align-items: center;
        font-weight: 400;
        line-height: 1.88rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 34.69rem;
    }
}

.little-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 2.19rem;
        font-weight: 500;
        line-height: 2.81rem;
        color: $titleColor;
    }
}

.rating-section {
    margin-top: 6.44rem;
    padding: 4.19rem 5.69rem 4.19rem 5.69rem;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 3.13rem 5rem -3px $shadowBlackColor;

    &__item {
        display: flex;
        align-items: center;
        gap: 2.25rem;

        & p:first-child {
            font-size: 1.56rem;
            font-weight: 700;
            color: $titleColor;
        }

        & p:last-child {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

}

.features-section {
    margin-top: 9.38rem;
    gap: 10.63rem;

    &__item {
        display: flex;
        gap: 10px;
        margin-bottom: 1rem;

        &::before {
            content: url(../assets/Icon/greenCircle.svg);
            align-self: center;
        }
    }
}

.gradient {
    margin: 3.75rem -9.38rem 0 -9.38rem;
    padding-top: 6.25rem;
    background: linear-gradient(180deg, #FAFAFA, #FAFAFA 3.13rem, #FBFBFB 3.13rem, #FBFBFB 28.13rem, #FCFCFC 28.13rem, #FCFCFC 53.13rem, #FDFDFD 53.13rem, #FDFDFD 78.13rem, #FFFFFF 78.13rem);
}

.pricing-section {

    &__block {
        display: flex;
        margin-top: 3.75rem;
        gap: 3.13rem;

    }

    &__button {
        margin: 1.25rem 0 3.13rem 0;
    }

    &__tarif {
        padding: 5rem 3.75rem 0 4.38rem;
        border: 2px solid $borderColor;
        border-radius: 10px;
        gap: 1.25rem;
        text-align: center;
        background: white;

        &:hover {
            border: 2px solid $buttonColor;
        }

        &-title {
            margin: 1.88rem 0;
        }

        &-list {
            text-align: start;
            height: 14.38rem;
        }

        &-price {
            font-size: 1.56rem;
            font-weight: 400;
            color: $titleColor;
            margin-top: 3.13rem;
        }



        &-item {
            font-size: 0.88rem;
            display: flex;

            &::before {
                content: url(../assets/Icon/greenTick.svg);
                margin-right: 1.25rem;
            }
        }
    }
}


.huge-global-section {
    margin: 9.38rem 0;
}

.review-section {
    margin: 1.25rem 0;

    &title {
        width: 28rem;
    }
}

.review-blocks {
    display: flex;
    gap: 3.13rem;
    margin-top: 1.88rem;
    margin-left: 9.38rem;

    &__block {
        border: 2px solid $borderColor;
        border-radius: 10px;
        padding: 1.88rem;

        &:hover {
            border-color: $buttonColor ;
            box-shadow: 0px 3.13rem 5rem -3px $shadowBlackColor;
        }
    }

    &__info {
        display: grid;
        column-gap: 1.25rem;
        padding-bottom: 1.88rem;
        grid-template-columns: 3.13rem 8.88rem 1.88rem 3.13rem;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "img nm . rt"
            "img lc . rt";
    }

    &__image {
        grid-area: img;
        align-self: center;
    }

    &__name {
        font-size: 1.13rem;
        line-height: 1.88rem;
        font-weight: 500;
        color: $titleColor;
        grid-area: nm;
        margin-bottom: -5px;
    }

    &__location {
        font-size: 0.88rem;
        line-height: 1.88rem;
        font-weight: 400;
        grid-area: lc;
        margin-top: -5px;
    }

    &__rating {
        display: flex;
        align-items: center;
        grid-area: rt;
        align-self: center;

        &::after {
            content: url(../assets/Icon/star.svg);
            margin: 4px 0 0 10px;
        }
    }

    &__text {
        line-height: 1.88rem;
    }
}

.subscribe-gradient {
    margin: 0 -150px;
    background: linear-gradient(180deg, #ffffff, #ffffff 125px, $footerColor 125px, $footerColor 250px);
}

.little-section-subscribe {
    margin: 0 150px;
    padding: 4.38rem;
    border-radius: 10px;
    background-color: white;
}

.little-section-buttons {
    display: flex;
    justify-content: space-between;
    margin: 3.75rem 0 4.06rem 0;

    &__left {
        display: flex;
        gap: 0.94rem;
    }

    &__right {
        display: flex;
        gap: 1.88rem;
    }
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4rem 9.38rem 6.25rem 9.38rem;
    background-color: $footerColor;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__submenu {
        gap: 10px;

        &-item {
            cursor: pointer;
        }

        &-item:hover {
            color: $buttonColor;

        }
    }

    &__link-title {
        margin-bottom: 1.25rem;
    }

    &__copyright {
        color: $copyrightColor;
    }
}