* {
    padding: 0px;
    margin: 0px;
    border: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

.header {
    margin: 50px 150px 0 150px;
    display: flex;
    justify-content: space-between;
}

.header__list {
    width: 451px;
    display: flex;
    justify-content: space-between;
    margin-top: 8.62px;
    list-style-type: none;
    color: #4F5665;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: #0B132A;
}

.logo__image {
    margin-right: 10px;
}

.header__login-link {
    margin-right: 40px;
}

.link {
    color: #0B132A;
    text-decoration: none;
}

.button-oval {
    width: 150px;
    height: 45px;
    border: 1px #F53855 solid;
    background-color: white;
    border-radius: 50px;
    color: #F53855;
}

.button-rectangle {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    border: 1px #F53838 solid;
    background-color: #F53838;
    color: white;
}

.main {
    margin: 88px 83px 0 150px;
}

.main-section-row {
    display: flex;
}

.main-section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section__title {
    /* font-size: 50px; */
    color: #0B132A;
}

.main-section__description {
    color: #4F5665;
}

.little-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pricing,
.reviews-blocks {
    display: flex;
}

.footer,
.footer__nav {
    display: flex;
}