* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  font-family: "Rubik", sans-serif;
  color: #4F5665;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}

button {
  background-color: transparent;
}

.header,
.main-section {
  margin: 50px 150px 0 150px;
}

.list {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 70px;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  color: #0B132A;
}

a {
  text-decoration: none;
  cursor: pointer;
}

span {
  font-weight: 500;
}

.button-oval {
  width: 150px;
  height: 45px;
  border-radius: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  line-height: 19px;
  border: 1px #F53838 solid;
  background-color: white;
  color: #F53838;
  cursor: pointer;
}

.button-oval_activ {
  background-color: #F53838;
  color: white;
  box-shadow: 0px 30px 40px 0px rgba(245, 56, 56, 0.3490196078);
}

.button-rectangle {
  width: 250px;
  height: 60px;
  border-radius: 10px;
  border: 1px #F53838 solid;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  line-height: 25px;
  background-color: #F53838;
  box-shadow: 0px 30px 40px 0px rgba(245, 56, 56, 0.3490196078);
  color: white;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__list {
  width: 451px;
  display: flex;
  justify-content: space-between;
  margin-top: 8.62px;
  font-weight: 400;
}
.header__list a {
  color: #4F5665;
}
.header__login-link {
  margin-right: 40px;
  color: #0B132A;
  font-weight: 500;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: #0B132A;
}
.logo__image {
  margin-right: 10px;
}

.span {
  font-weight: 700;
}

.description-span {
  font-weight: 500;
}

.main-section {
  margin-top: 89px;
}
.main-section__title {
  color: #0B132A;
}
.main-section__description {
  font-weight: 400;
  line-height: 30px;
}
.main-section__button {
  margin-top: 30px;
}
.main-section__image {
  margin-left: 40px;
}

.main-section-row {
  display: flex;
}
.main-section-row__block {
  display: flex;
  flex-direction: column;
  width: 555px;
  gap: 20px;
  margin-top: 27px;
}

.main-section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section-column__title {
  color: #0B132A;
  margin: 0 86px;
  text-align: center;
}
.main-section-column__description {
  text-align: center;
  align-items: center;
  font-weight: 400;
  line-height: 30px;
}
.main-section-column__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 555px;
}

.little-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.little-section__title {
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
  color: #0B132A;
}

.rating-section {
  margin-top: 103px;
  padding: 67px 91px 68px 91px;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 50px 80px -3px rgba(13, 16, 37, 0.1019607843);
}
.rating-section__item {
  display: flex;
  align-items: center;
  gap: 36px;
}
.rating-section__item p:first-child {
  font-size: 25px;
  font-weight: 700;
  color: #0B132A;
}
.rating-section__item p:last-child {
  font-size: 20px;
  font-weight: 400;
}

.features-section {
  margin-top: 150px;
  gap: 170px;
}
.features-section__item {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.features-section__item::before {
  content: url(../assets/Icon/greenCircle.svg);
  align-self: center;
}

.gradient {
  margin: 60px -150px 0 -150px;
  padding-top: 100px;
  background: linear-gradient(180deg, #FAFAFA, #FAFAFA 50px, #FBFBFB 50px, #FBFBFB 450px, #FCFCFC 450px, #FCFCFC 850px, #FDFDFD 850px, #FDFDFD 1250px, #FFFFFF 1250px);
}

.pricing-section__block {
  display: flex;
  margin-top: 60px;
  gap: 50px;
}
.pricing-section__button {
  margin: 20px 0 50px 0;
}
.pricing-section__tarif {
  padding: 80px 60px 0 70px;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  gap: 20px;
  text-align: center;
  background: white;
}
.pricing-section__tarif_active {
  border: 2px solid #F53838;
}
.pricing-section__tarif-title {
  margin: 30px 0;
}
.pricing-section__tarif-list {
  text-align: start;
  height: 230px;
}
.pricing-section__tarif-price {
  font-size: 25px;
  font-weight: 400;
  color: #0B132A;
  margin-top: 50px;
}
.pricing-section__tarif-item {
  font-size: 14px;
  display: flex;
}
.pricing-section__tarif-item::before {
  content: url(../assets/Icon/greenTick.svg);
  margin-right: 20px;
}

.huge-global-section {
  margin: 150px 0;
}

.review-section {
  margin: 20px 0;
}
.review-sectiontitle {
  width: 448px;
}

.review-blocks {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  margin-left: 150px;
}
.review-blocks__block {
  border: 2px solid #DDDDDD;
  border-radius: 10px;
  padding: 30px;
}
.review-blocks__block_active {
  border-color: #F53838;
  box-shadow: 0px 50px 80px -3px rgba(13, 16, 37, 0.1019607843);
}
.review-blocks__info {
  display: grid;
  -moz-column-gap: 20px;
       column-gap: 20px;
  padding-bottom: 30px;
  grid-template-columns: 50px 142px 30px 50px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "img nm . rt" "img lc . rt";
}
.review-blocks__image {
  grid-area: img;
  align-self: center;
}
.review-blocks__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  color: #0B132A;
  grid-area: nm;
  margin-bottom: -5px;
}
.review-blocks__location {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  grid-area: lc;
  margin-top: -5px;
}
.review-blocks__rating {
  display: flex;
  align-items: center;
  grid-area: rt;
  align-self: center;
}
.review-blocks__rating::after {
  content: url(../assets/Icon/star.svg);
  margin: 4px 0 0 10px;
}
.review-blocks__text {
  line-height: 30px;
}

.little-section-subscribe {
  padding: 70px;
  gap: 340px;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 280em;
}

.little-section-buttons {
  display: flex;
  justify-content: space-between;
  margin: 60px 0 180px 0;
}
.little-section-buttons__left {
  display: flex;
  gap: 15px;
}
.little-section-buttons__right {
  display: flex;
  gap: 30px;
}

.footer {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 180px 150px 100px 150px;
  background-color: #F8F8F8;
}
.footer__info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__submenu {
  gap: 10px;
}
.footer__link-title {
  margin-bottom: 20px;
}
.footer__copyright {
  color: #AFB5C0;
}/*# sourceMappingURL=styles.css.map */