@import "_variables.scss";
@import "_common.scss";
@import "_button.scss";

.header {
    display: flex;
    justify-content: space-between;

    &__list {
        max-width: 50vw;
        display: flex;
        margin: 0 auto;
        margin-top: 8.62px;
        font-weight: 400;
        gap: 2vw;
        justify-content: center;

        & a {
            color: $mainColor;

            &:hover {
                color: $buttonColor;
            }
        }
    }

    &__login-link {
        margin-right: 2.5vw;
        color: $titleColor;
        font-weight: 500;

        &:hover {
            color: $buttonColor;
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    color: $titleColor;

    &__image {
        margin-right: 1vw;
    }
}

.span {
    font-weight: 700;
}

.description-span {
    font-weight: 500;
}

.main-section {
    margin-top: 7vw;

    &__title {
        color: $titleColor;
    }

    &__description {
        font-weight: 400;
        line-height: 1.88rem;
    }

    &__button {
        margin-top: 1.88rem;
    }

    &__image {
        margin-left: 2.5rem;
    }
}

.main-section-row {
    display: flex;
    align-items: center;

    &__block {
        display: flex;
        flex-direction: column;
        width: 34.69rem;
        gap: 1.25rem;
        margin-top: 1.69rem;
    }
}

.main-section-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        color: $titleColor;
        margin: 0 5.38rem;
        text-align: center;
    }

    &__description {
        text-align: center;
        align-items: center;
        font-weight: 400;
        line-height: 1.88rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 34.69rem;
    }
}

.little-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 2.19rem;
        font-weight: 500;
        line-height: 2.81rem;
        color: $titleColor;
    }
}

.rating-section {
    margin-top: 6.44rem;
    padding: 4vw 5vw 4vw 5vw;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0px 3.13rem 5rem -3px $shadowBlackColor;

    &__item {
        display: flex;
        align-items: center;
        gap: 2.25rem;

        & p:first-child {
            font-size: 1.56rem;
            font-weight: 700;
            color: $titleColor;
        }

        & p:last-child {
            font-size: 1.25rem;
            font-weight: 400;
        }
    }

}

.features-section {
    margin-top: 7vw;
    gap: 10vw;

    &__item {
        display: flex;
        gap: 10px;
        margin-bottom: 1rem;

        &::before {
            content: url(../assets/Icon/greenCircle.svg);
            align-self: center;
        }
    }
}

.gradient {
    margin: 4vw -8vw 0 -8vw;
    padding-top: 6vw;
    background: linear-gradient(180deg, #FAFAFA, #FAFAFA 3.13rem, #FBFBFB 3.13rem, #FBFBFB 28.13rem, #FCFCFC 28.13rem, #FCFCFC 53.13rem, #FDFDFD 53.13rem, #FDFDFD 78.13rem, #FFFFFF 78.13rem);
}

.pricing-section {

    &__block {
        display: flex;
        margin-top: 3.75rem;
        gap: 3vw;
    }

    &__button {
        margin: 1.25rem 0 3.13rem 0;
    }

    &__tarif {
        padding: 5vw 4vw 0 4vw;
        border: 2px solid $borderColor;
        border-radius: 10px;
        gap: 1.25rem;
        text-align: center;
        background: white;

        &:hover {
            border: 2px solid $buttonColor;
        }

        &-title {
            margin: 1.88rem 0;
        }

        &-list {
            text-align: start;
            height: 14.38rem;
        }

        &-price {
            font-size: 1.56rem;
            font-weight: 400;
            color: $titleColor;
            margin-top: 3.13rem;
        }

        &-item {
            font-size: 0.88rem;
            display: flex;

            &::before {
                content: url(../assets/Icon/greenTick.svg);
                margin-right: 1.25rem;
            }
        }
    }
}

.huge-global-section {
    margin: 9vw 0;
}

.hugo-image {
    max-width: 85vw;
}

.review-section {
    margin: 1.25rem 0;

    &title {
        width: 28rem;
    }
}

.review-blocks {
    display: flex;
    gap: 3vw;
    margin-top: 2vw;

    &__block {
        border: 2px solid $borderColor;
        border-radius: 10px;
        padding: 1.88rem;

        &:hover {
            border-color: $buttonColor ;
            box-shadow: 0px 3.13rem 5rem -3px $shadowBlackColor;
        }
    }

    &__info {
        display: grid;
        column-gap: 1.25rem;
        padding-bottom: 1.88rem;
        grid-template-columns: 3vw 9vw 2vw 3vw;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "img nm . rt"
            "img lc . rt";
    }

    &__image {
        grid-area: img;
        align-self: center;
    }

    &__name {
        font-size: 1.13rem;
        line-height: 1.88rem;
        font-weight: 500;
        color: $titleColor;
        grid-area: nm;
        margin-bottom: -5px;
    }

    &__location {
        font-size: 0.88rem;
        line-height: 1.88rem;
        font-weight: 400;
        grid-area: lc;
        margin-top: -5px;
    }

    &__rating {
        display: flex;
        align-items: center;
        grid-area: rt;
        align-self: center;

        &::after {
            content: url(../assets/Icon/star.svg);
            margin: 4px 0 0 10px;
        }
    }

    &__text {
        line-height: 1.88rem;
    }
}

.sponsored {
    & img {
        max-width: 15vw;
    }
}

.subscribe-gradient {
    margin: 0 -8vw;
    background: linear-gradient(180deg, #ffffff, #ffffff 7.8rem, $footerColor 7.8rem, $footerColor 15.6rem);
}

.little-section-subscribe {
    margin: 0 9vw;
    padding: 4.38rem;
    border-radius: 10px;
    background-color: white;
}

.little-section-buttons {
    display: flex;
    justify-content: space-between;
    margin: 3.75rem 0 4.06rem 0;

    &__left {
        display: flex;
        gap: 0.94rem;
    }

    &__right {
        display: flex;
        gap: 1.88rem;
    }
}

.footer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4vw 9vw 6vw 9vw;
    background-color: $footerColor;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__submenu {
        gap: 10px;

        &-item {
            cursor: pointer;
        }

        &-item:hover {
            color: $buttonColor;

        }
    }

    &__link-title {
        margin-bottom: 1.25rem;
    }

    &__copyright {
        color: $copyrightColor;
    }
}

.header__nav {
    grid-area: nav;
}

.header logo {
    grid-area: logo;
}

.header__login {
    grid-area: login;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        font-size: 20px;
        line-height: 1.4rem;
    }

    .main-section {
        margin: 2vw 2vw 0 2vw;
    }

    .gradient {
        margin: 0 -2vw;
    }

    .subscribe-gradient {
        margin: 0 -2vw;
    }

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 24px;
        text-align: center;
    }

    .header {
        display: grid;
        grid-template-areas:
            "logo logo login login"
            ". . nav nav";

        &__list {
            padding-bottom: 20px;
        }
    }

    .main-section-row {
        display: flex;
        flex-direction: column;

        &__block {
            align-items: center;
        }
    }

    .main-section {
        &__description {
            text-align: center;
        }

        &__image {
            margin: 2.5rem 0 0 0;
        }
    }

    .pricing-section__tarif {
        padding: 2vw 2vw 0 2vw;
    }

    .review-blocks {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__info {
            grid-template-columns: 0;
        }

        &__block {
            margin: 0 15vw;
        }
    }

    .little-section-buttons {
        margin: 3.75rem 10vw 4.06rem 10vw;
    }

    .little-section__title {
        font-size: 24px;
    }

    .little-section-subscribe {
        padding: 2rem;
    }

    .little-section-subscribe:nth-child(2) {
        display: none;
    }

    .footer {
        display: flex;
        flex-direction: column-reverse;

        &__info {
            margin-top: 4vw;
            text-align: center;

            & .logo {
                justify-content: center;
            }
        }

        &__text,
        &__copyright {
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 767px) {
    body {
        margin: 0 auto;

    }

    h1 {
        font-size: 25px;
        line-height: 2rem;

    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 14px;
    }

    .header {
        position: relative;
        display: grid;
        grid-template-areas:
            "logo logo"
            "login login"
            "nav nav";

        &__list {
            padding-bottom: 20px;
        }
    }

    .main-section {
        margin: 2vw 4vw 0 4vw;

        &__image {
            margin-left: 0;
        }
    }

    .main-section-row {
        flex-direction: column;
        text-align: center;

        &__block {
            width: 100%;
            align-self: center;
        }
    }

    .rating-section {
        margin-top: 10vw;

        &__item p:first-child {
            font-size: 1rem;
        }

        &__item p:last-child {
            font-size: 1rem;
        }

        &__item img {
            display: none;
        }
    }

    .main-section-column__title {
        margin: 0;
    }

    .nav {
        margin-left: 10vw;
        text-align: center;
    }

    .main-section-column__info {
        width: 80%;
    }

    .pricing-section__block {
        display: flex;
        flex-direction: column;
    }

    .review-blocks {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__info {
            grid-template-columns: 0;
        }

        &__block {
            margin: 0 2vw;
            padding: 0.7rem;
        }
    }

    .little-section__title {
        font-size: 20px;
        line-height: 20px;
    }

    .little-section-buttons {
        margin: 2rem 0 2rem 3rem;

        &__left {
            display: none;
        }
    }

    .subscribe-gradient,
    .gradient {
        margin: 0 -4vw;
    }

    .little-section-subscribe {
        flex-direction: column;
        padding: 1rem;
        margin: 0 2rem;
    }

    .footer {
        display: flex;
        flex-direction: column;
        font-size: 12px;
        align-items: center;

        &__nav {
            display: flex;
            flex-direction: column;
        }

        &__link-title {
            margin-bottom: 0rem;
        }

    }

    .button-rectangle {
        width: 150px;
        height: 45px;
    }

    .button-oval {
        width: 100px;
        height: 35px;
    }
}

/*  burger menu starts */

#burger,
[for=burger] {
    display: none;
}

@media screen and (max-width: 1023px) {
    .checkbox {
        display: none;
    }

    .header__list {
        flex-direction: column;
    }

    [for=burger] {
        display: block;
        position: absolute;
        width: 30px;
        text-align: center;
        right: -15px;
        top: 30px;
    }

    [for=burger]::before {
        content: '☰';
    }

    .nav {
        display: none;
        position: fixed;
        top: 0;
        background: $borderColor;
        width: 50%;
        user-select: none;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #burger:checked+label+.nav {
        display: block;
        animation: show .5s ease;
    }

    #burger:checked+[for=burger]::before {
        content: '⮾';
    }


    @keyframes show {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

/*  burger menu ends */