$titleColor: #0B132A;
$mainColor: #4F5665;
$buttonColor: #F53838;
$borderColor: #DDDDDD;
$footerColor: #F8F8F8;
$shadowBlackColor: #0d10251a;
$textButtonColor: white;
$shadowRedColor: #f5383859;
$copyrightColor: #AFB5C0;